<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dailyTask">
            <h2><span>Daily Task</span> {{dailyTask.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{dailyTask.date}}</span>
                </dd>
                <dt><span>Task</span></dt>
                <dd>
                    <span>{{dailyTask.task}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{dailyTask.description}}</span>
                </dd>
                <dt><span>Completed</span></dt>
                <dd>
                    <span>{{dailyTask.completed}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{dailyTask.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/daily-task', dailyTask.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
