<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-yearly-task-heading">Create or edit a Yearly Task</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!yearlyTask.id" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="yearlyTask.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                        [(ngModel)]="yearlyTask.year" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_task">Task</label>
                    <input type="text" class="form-control" name="task" id="field_task"
                        [(ngModel)]="yearlyTask.task" required/>
                    <div [hidden]="!(editForm.controls.task?.dirty && editForm.controls.task?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.task?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea type="text" class="form-control" name="description" rows="5" id="field_description"
                              [(ngModel)]="yearlyTask.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_completed">Completed</label>
                    <input type="checkbox" class="form-control" name="completed" id="field_completed"
                        [(ngModel)]="yearlyTask.completed" />
                </div>

                <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="yearlyTask.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === yearlyTask.user?.id ? yearlyTask.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
